.todo{
    display: flex;
    flex-direction: row;
}

.nav {
    gap: 10px ;
}
.red {
    background-color: rgb(201, 187, 187);
}
.blue {
    background-color: rgb(158, 158, 180);
}

.item {
    color: black ;
    padding: 10px;
}

.todo{
    margin:0;
    padding: 0;
}

li{
    width:150px

}

.error {
    color: black;
    background-color: red;
    padding: 5px;
}


nav .inprogress{
    display: flex;
    flex-direction: column;
    justify-content: center;
}