<div class="todo-app">
  <div class="nav">
    <input type="text" [(ngModel)]="taskName" placeholder="Enter Task" />
    <select [(ngModel)]="diff" name="" id="difficulty">
      <option value="" selected>Select</option>
      <option *ngFor="let option of options" value="{{ option }}">
        {{ option }}
      </option>
    </select>
    <button (click)="addTask()">Add Task</button>
    <div class="error" *ngIf="error">{{ error }}</div>
  </div>

  <div class="list" id="to-dos">
    <h2>To Do</h2>
    <ul class="to-do">
      <li
        class="item"
        [ngClass]="getItemClass(i + 1)"
        *ngFor="let task of tasks; let i = index"
      >
        <button (click)="deleteItem(i)">X</button>
        <span *ngIf="showNumber(i)">{{ i + 1 }}.</span> {{ task.taskName }}
        <span>{{ task.difficulty }}</span>
        <button id="move" (click)="moveToProgress(i)">></button>
      </li>
    </ul>

    <ul class="in-progress"></ul>
    <li
      class="in-progress"
      [ngClass]="getItemClass(i + 1)"
      *ngFor="let taskinprogress of tasksinprogress; let i = index"
    >
      <span>{{ taskinprogress.taskName }}</span>
      <span>{{ taskinprogress.difficulty }}</span>
    </li>
    <ul class="done"></ul>
  </div>
  <!-- /////////// -->
</div>
