<div class="todo-app">
  <div class="nav">
    <input type="text" [(ngModel)]="taskName" placeholder="Enter Task" />
    <select name="" id="difficulty">
      <option value="" selected>Select</option>
      <option *ngFor="let option of options" value="{{ option }}">
        {{ option }}
      </option>
    </select>
    <button (click)="addTask()">Add Task</button>
    <div class="error" *ngIf="error">{{ error }}</div>
  </div>

  <div class="list" id="to-dos">
    <h2>To Do</h2>
    <ul class="to-do">
      <li
        class="item"
        [ngClass]="getItemClass(i + 1)"
        *ngFor="let task of tasks; let i = index"
      >
        <button (click)="deleteItem(i)">X</button>
        <button (click)="moveToProgress(i)"></button>
        <span *ngIf="showNumber(i)">{{ i + 1 }}.</span> {{ task }}
      </li>
    </ul>

    <ul class="in-progress"></ul>

    <ul class="done"></ul>
  </div>
  <!-- /////////// -->
</div>
